/nbproject/private/
build
debian/build
bootstrap/
debian/libjs-twitter-bootstrap3-docs/
debian/libjs-twitter-bootstrap3/
/debian/libjs-twitter-bootstrap3-docs.debhelper.log
/debian/libjs-twitter-bootstrap3.debhelper.log
