#!/usr/bin/make -f

PKG_PATH:=/usr/share/twitter-bootstrap
DH_LINKS_FILE:=debian/libjs-twitter-bootstrap.links
BUILD_DIR:=build

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
	rm -f debian/local/*/*.min.js

override_dh_auto_build:
	mkdir -p $(BUILD_DIR)
	cp -rv bootstrap/README.md $(BUILD_DIR)
	cp -rv bootstrap/dist/* $(BUILD_DIR)
	cp -rv bootstrap/docs $(BUILD_DIR)
	cp -rv bootstrap/js/tests $(BUILD_DIR)/js

#	yui-compressor ~/Projects/3RDParty/bootstrap/docs/assets/css/bootstrap-responsive.css -o $(BUILD_DIR)/bootstrap-responsive.min.css
#	yui-compressor ~/Projects/3RDParty/bootstrap/docs/assets/css/bootstrap.css -o $(BUILD_DIR)/bootstrap.min.css
#	cp ~/Projects/3RDParty/bootstrap/docs/assets/css/bootstrap-responsive.css $(BUILD_DIR)/bootstrap-responsive.css
#	cp ~/Projects/3RDParty/bootstrap/docs/assets/css/bootstrap.css $(BUILD_DIR)/bootstrap.css

	echo "$(PKG_PATH)/files/js/bootstrap.js $(PKG_PATH)/files/bootstrap.js" > $(DH_LINKS_FILE)
	echo "$(PKG_PATH)/files/js/bootstrap.min.js $(PKG_PATH)/files/bootstrap.min.js" >> $(DH_LINKS_FILE)
#	echo "$(PKG_PATH)/files/js/bootstrap.min.js /usr/share/javascript/twitter-bootstrap/bootstrap.min.js" >> $(DH_LINKS_FILE)
#	echo "$(PKG_PATH)/files/css/bootstrap.css /usr/share/javascript/twitter-bootstrap/css/bootstrap.css" >> $(DH_LINKS_FILE)
#	echo "$(PKG_PATH)/files/fonts/* /usr/share/javascript/twitter-bootstrap/fonts" >> $(DH_LINKS_FILE)
	dh_auto_build

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/libjs-twitter-bootstrap-docs/usr/share/doc/libjs-twitter-bootstrap-docs
	cp $(BUILD_DIR)/README.md debian/libjs-twitter-bootstrap-docs/usr/share/doc/libjs-twitter-bootstrap-docs/README.css

override_dh_auto_clean:
	rm -f $(DH_LINKS_FILE)
	rm -rf $(BUILD_DIR)
	dh_auto_clean
